<div class="post-meta">
    <span><%= post.time.minute %></span>&nbsp;//&nbsp;
    by:&nbsp;<a href="/u/<%= post.name%>"><%= post.name%></a>&nbsp;//&nbsp;
    <a title="View all posts in <%= post.name%>" href="/cat/<%= post.name%>"><%= post.name%></a>&nbsp;//&nbsp;
    <a href="#comment" title="view comments"><%= post.comments.length%></a>
</div>