<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <article class="article">
            <header>
                <h2 class="post-title"><%= post.title%></h2>
                <%- include inc/postmeta %>
            </header>
            <section>
                <%- post.post%>
            </section>
            <footer>
                <%- include inc/showtags %>
            </footer>
        </article>
        <%- include inc/comment %>
    </div>
    <%- include inc/side %>
</div>
<%- include inc/footer %>
