<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <article>
            <header>
                <p>
                    作者:<span><%= post.name%></span>
                    日期:<span><%= post.time.minute %></span>
                    <% if(locals.user && locals.user.name == post.name){%>
                    <a href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a>
                    <% } %>
                </p>
                <p>
                    阅读:<span><%= post.pv%></span>
                    评论:<span><%= post.comments.length%></span>
                </p>
            </header>
            <section>
                <%- post.post%>
            </section>
            <footer>
                <%- include inc/showtags %>
            </footer>
        </article>
        <%- include inc/comment %>
    </div>
    <%- include inc/side %>
</div>
<%- include inc/footer %>
