<%- include inc/header %>
<div class="main">
    <%- include inc/info %>
    <article>
        <header>
            <p>
                作者:<span><%= post.name%></span>
                日期: <span><%= post.time.minute %></span>
            </p>
        </header>
        <section>
            <%- post.post%>
        </section>
        <footer>
            <%- include inc/showtags%>
        </footer>
    </article>
    <%- include inc/comment %>
</div>
<%- include inc/footer %>