<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <% var url ="" %>
        <% posts.forEach(function(post){ %>
        <% url ="/u/"+post.name+"/"+post.time.day+"/"+post.title %>
        <article>
        <div class="post-item clearfix">
            <h2 class="post-title"><a href="<%= url %>"><%= post.title %></a></h2>
            <%- include inc/postmeta %>
            <section>
                <%- post.post%>
            </section>
            <span class="read-more">[<a href="<%= url %>" title="阅读全文">阅读全文</a>]</span>
        </div>
        </article>
        <% }) %>
        <%- include inc/page %>
    </div>
    <%- include inc/side %>
</div>
<%- include inc/footer %>
