<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <article class="article">
            <header>
                <h2 class="post-title"><%= post.title%></h2>
                <%- include inc/postmeta %>
            </header>
            <section class="markdown-body">
                <%- post.post%>
            </section>
            <footer>
                <%- include inc/showtags %>
            </footer>
        </article>
        <%- include inc/comment %>
    </div>
    <%- include inc/side %>
</div>
<link rel="stylesheet" href="/stylesheets/prettify.css"/>
<script type="text/javascript" src="/script/jquery.min.js"></script>
<script src='/script/prettify/prettify.js' type='text/javascript'></script>
<script type="text/javascript">
    (function () {
        $("pre").addClass("prettyprint");
        prettyPrint();
    })()
</script>
<%- include inc/footer %>
