<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <% posts.forEach(function(post,index){ %>
        <article>
            <header>
                <h2><a href="/u/<%= post.name%>/<%= post.time.day%>/<%= post.title %>"><%= post.title %></a></h2>
                <p>
                    作者:<span></span>
                    日期: <span><%= post.time.minute %></span>
                    <%- include inc/showtags%>
                </p>
            </header>
            <section>
                <%- post.post%>
            </section>
        </article>
        <% }) %>
    </div>
    <%- include inc/side %>
</div>
<%- include inc/footer %>