<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <% posts.forEach(function(post){ %>
        <article>
        <div class="post-item clearfix">
            <h2 class="post-title"><a href="/post/<%= post._id %>"><%= post.title %></a></h2>
            <%- include inc/postmeta %>
            <section class="markdown-body">
                <%- post.post%>
            </section>
            <span class="read-more">[<a href="/post/<%= post._id %>" title="阅读全文">阅读全文</a>]</span>
        </div>
        </article>
        <% }) %>
        <%- include inc/page %>
    </div>
    <%- include inc/side %>
</div>
<%- include inc/footer %>
