<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <ul>
            <% posts.forEach(function(tag){ %>
            <% if(tag){ %>
            <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
            <% } %>
            <% })%>
        </ul>
    </div>
    <%- include inc/side %>
</div>
<%- include inc/footer %>